body {
  font-size: 12px;
  font-family: sans-serif;
  color: #444444;
}

.box {
  font-size: 12px;
  font-family: sans-serif;
  color: #444444;
  margin: 20px;
  margin-bottom: 50px;
  padding: 10px;
  width: 270px;
  border: 3px dashed #333333;
}

a:link, a:visited {
  color: #444444;
  border-bottom: 1px dotted;
  text-decoration: none;
}

a:hover {
  color: #808080;
  border-bottom: 1px dotted;
}

h1 {
  background-color: #dcdcdc;
  color: #535353;
  font-size: 14px;
  font-family: sans-serif;
  padding: 8px;
  font-weight: normal;
}

.button {
  background-color: #deebe5;
  border: #c8e8d9 1px solid;
  padding: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.button:hover {
  background-color: #98cfba;
  font-style: italic;
}
.button:active {
  background-color: #deebe5;
}

#knifed, #knifedhistory {
  font-size: 12px;
  font-family: courier new, monospace;
  color: #444444;
  margin: 20px;
  padding: 10px;
  width: 500px;
  background-color: #deebe5;
  float: left;
}

#knifebox {
  border:0px;
  border-right: 1px #444444 solid;
  padding-right: 50px;
}